.custom-text {
    color: var(--color-seventh);
    margin: 0;
}

.custom-card {
    background-color: var(--color-fourth);
    border: none;
    box-shadow: none;
}

.custom-link {
    text-decoration: none; 
    color: inherit;
}