.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart {
    width: 100%;
    margin-bottom: 20px;
}

.page-item.active .page-link,
.page-item.active:hover .page-link,
.page-item.active:active .page-link {
    background-color: var(--color-primary);
    border-color: var(--color-third);
    color: var(--color-seventh);
}

.page-item .page-link,
.page-item:hover .page-link,
.page-item:active .page-link {
    background-color: var(--color-seventh);
    border-color: var(--color-third);
    color: var(--color-primary);
}