
.custom-navbar {
    background-color: #5AAEE6;
    color: #FFF;
}

.custom-footer {
    background-color: #5AAEE6; 
    color: #FFF; 
}

.custom-button {
    background-color: #5AAEE6; 
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
}

.custom-button:hover {
    background-color: #3C7499; 
    color: white; 
}

.custom-button:active {
    background-color: #234459 !important; 
    color: white !important; 
}



